.col-6.nested-fields
  = f.input :name do
    .input-group.mb-3
      = f.input_field :name, class: 'form-control typeahead contributor', placeholder: 'Name of contributor'
      .input-group-append
        = link_to_remove_association "Remove Contributor", f, class: "btn btn-outline-danger"
