= simple_form_for medium do |f|

  = f.error_notification

  .form-group
    .row
      .col
        = f.input :title, placeholder: 'Title of your medium'
      .col
        = f.input :category, collection: Medium.categories.keys.map { |c| [c.humanize, c]}
  .form-group
    .row
      .col
        = f.input :code, placeholder: 'ISBN, GTIN or barcode from your medium'
      .col
        = f.input :release, as: :string, placeholder: 'Date of release'
  .form-group
    .row
      .col
        = f.association :genre, collection: Genre.all.map { |g| [g.name, g.id]}, prompt: "Choose a genre"
      .col
        = f.input :description, placeholder: 'Description of your medium'

  .form-group
    .row
      .col
        = f.fields_for :publisher do |publisher|
          = render 'publisher_fields', f: publisher
      .col
        = f.input :cover
  .form-group
    .row
      .col
        = f.input :tag_list, label: 'Tags (seperated by comma)
'  #contributors.form-group
    %h3 Contributors
    .row
      .col.links
        = link_to_add_association 'Add Contributor', f, :contributors, class: "btn btn-outline-success", "data-association-insertion-node": ".row.contributors", "data-association-insertion-method": "append"
    .row.contributors
      = f.fields_for :contributors do |contributor|
        = render 'contributor_fields', f: contributor
  %hr
  .row
    .col.d-flex.justify-content-between
      = f.button :submit, class: "btn btn-primary"
      = f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" unless medium.persisted?
      = link_to "Back", url_for(:back), class: "btn btn-secondary"

