%tr
  %td
    = medium.title
  %td
    = medium.genre.name
  %td
    = medium.code
  %td
    = medium.release
  %td
    - if medium.description.present?
      = medium.description.split(' ')[0..12].join(' ')+'..'
      = link_to "(more)", medium_path(medium)
  %td
    = medium.publisher.name
  %td
    = medium.contributors.pluck(:name).join(', ')
  %td
    = link_to medium_path(medium), class: 'btn btn-outline-dark' do
      = icon('fas', 'eye', 'Show')
  %td
    = link_to edit_medium_path(medium), class: 'btn btn-outline-secondary' do
      = icon('fas', 'edit', 'Edit')
  %td
    = link_to medium, method: :delete, data: {confirm: "Do you really want to delete #{medium.title}?"}, class: 'btn btn-outline-danger' do
      = icon('fas', 'trash', 'Remove')
