.container-fluid
  .row.justify-content-center
    .col-10
      %table.table
        %thead
          %tr
            %th Title
            %th Genre
            %th Serialcode
            %th Release
            %th Description
            %th Publisher
            %th Contributors
            %th{colspan: 3}
        %tbody
          = render @media
          %tr
            %td{colspan: 11}
              = link_to "New Medium", new_with_category_path, class: 'btn btn-outline-success'
