%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to 'OwlsLibrary', root_path, class: 'navbar-brand'
  = button_tag aria: {expanded: false, controls: 'mainNavigation', label: 'Toggle navigation'}, data: {toggle: 'collapse', target: '#mainNavigation'}, class: 'navbar-toggler' do
    %span.navbar-toggler-icon
  #mainNavigation.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: active_class(root_path)}
        = link_to 'Home', root_path, class: 'nav-link'
    %ul.navbar-nav.mr-auto
      - Medium.categories.keys.each do |category|
        %li.nav-item{class: active_class(category_path(category).pluralize)}
          = link_to category.humanize.pluralize, category_path(category).pluralize, class: 'nav-link'
    %ul.navbar-nav
      %li.nav-item.btn-group.dropdown
        = button_tag id: 'userDropdown', role: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}, class: 'btn btn-secondary dropdown-toggle' do
          = icon('fas', 'user', current_user)
        .dropdown-menu.dropdown-menu-right{aria: {labelledby: 'userDropdown'}}
          = link_to 'Action', '#', class: 'dropdown-item'
